@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html
{
	box-sizing: border-box; /* Usado para responsive design */
	scroll-behavior: smooth; /* Scroll suave en toda la página */
}

*, *:before, *:after {
  box-sizing: inherit; /* Mejor práctica para evitar problemas con <header> */
}

body
{
	background-color: #f2f2f2;
	color: #121212;
	font-family: Roboto, serif;
	max-width: 100vw; /* vw: viewport width; expresado en % */
	margin: 0px;

    display: flex;
    flex-direction: column;
}

.header, .hero, .footer
{
    background-color: #1F2937;
    padding: 16px;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo
{
    font-size: 24px;
    color: #F9FAF8;
}

a, .hero-secondary-text, .imgPlaceholder, footer
{
    font-size: 18px;
    color: #E5E7EB;
}

a
{
    text-decoration: none;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.hero-main-text
{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAf8;
}

button, .cta
{
    background-color: #3882F6;
}

.informationHeader
{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote
{
    background-color: #E5E7EB;
}

.quoteText
{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quoteAuthor
{
    font-weight: 800;
}