html
{
	box-sizing: border-box; /* Usado para responsive design */
	scroll-behavior: smooth; /* Scroll suave en toda la página */
}

*, *:before, *:after {
  box-sizing: inherit; /* Mejor práctica para evitar problemas con <header> */
}

body
{
	background-color: #f2f2f2;
	color: #121212;
	font-family: Roboto, serif;
	max-width: 100vw; /* vw: viewport width; expresado en % */
	margin: 0px;
}